.category {
    height: 25vh;
    overflow-x: hidden;
}

.category--title h2 {
    margin: 0rem 0rem 0rem 1.875rem;
    font-weight: 400;
}

.category--title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category--title a {
    text-decoration: none;
    font-weight: 700;
    color: red;
    margin: 0rem 1.875rem 0rem 0rem;
}

.category--list {
    width: max-content;
}

.category--card {
    display: inline-block;
    width: 6rem;
    height: 6rem;
    margin: 1.875rem 0rem 0rem 1.875rem;
    background-color: #262932;
    border-radius: .5rem;
}
.category--card h3 {
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
}

.card--content {
    display: flex;
    justify-content: center;
    align-items: center;
}
