.movieRow {
    margin-bottom: 1.875rem;
}

.movieRow--title h2 {
    margin: 0rem 0rem 0rem 1.875rem;
    font-weight: 400;
}
.movieRow--title a {
    text-decoration: none;
    font-weight: 700;
    color: red;
    margin: 0rem 1.875rem 0rem 0rem;

}
.movieRow--title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movieRow--listarea {
    overflow-x: hidden;
    padding-left: 0.9375rem;
}
.movieRow--list {
    width: max-content;
}

.movieRow--item {
    display: inline-block;
    width: 14.625rem;
}

.movieRow--item img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.2s;
    border-radius: 0.75rem;
}
.movieRow--item img:hover {
    transform: scale(0.95);
}

.movieRow--left,
.movieRow--right {
    cursor: pointer;
    margin-top: 0.2rem;
    position: absolute;
    width: 2.5rem;
    height: 23rem;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #060608;
}

.movieRow--left {
    left: 0;
}
.movieRow--right {
    right: 0;
}